@import 'variables&mixins';

//Mobile
*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/*JS*/
.bodyToggle{
    overflow: hidden;
}


img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    height: 100%;
    text-align: center;
}
nav, .line{
    transition: all .6s ease-in-out;
}
.info p, .more{
    text-align: left;
    font-size: 1.2rem;
}
.title{
    text-transform: capitalize;
    letter-spacing: 4px;
}

.title, .info p, .more a{
    color: $maincolor;
}
.more{
    a{
        text-decoration: underline;
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        svg{
            width: .7rem;
            height: auto;
        }
    }
}


.img{
    @include grid(5px, 1fr)
}


/////////////

#hero{
    height: 100vh;
    position: relative;
    #bg-img{
        background-image: url(./assets/living-room/living-room-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(.8);
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: -1;
    }
        header{
            height: 15vh;
            display: flex;
            align-items: center;
            a{
                color: white;
            }
            nav{
                position: absolute;
                width: 100vw;
                height: 100vh;
                background-color: hsla(0, 0, 0, .7);
                z-index: 1;
                top: 0;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 4px;
                padding-top: 7rem;
                left: -100vw;
                #nav-title{
                    font-size: 2.25rem;
                }
                ul{
                    margin-top: 2rem;
                    .section-1{
                        margin-bottom: 1rem;
                    }
                    li + li{
                        margin-top: 1rem;
                    }
                    li{
                        a{
                            font-size: 1.3rem;
                        }
                    }
                }
            } /*JS*/ .navToggle{left: 0;}
            #menu{
                margin-left: 2rem;
                button{
                    background: transparent;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    width: 30px;
                    height: 25px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    .line{
                        height: 4px;
                        width: 100%;
                        background-color: white;
                        position: absolute;
                    } 
                    .line-1{
                        top: 0;
                    } /*JS*/ .line1Toggle{top: 50%; transform: translateY(-50%) rotate(45deg);}
                    .line-2{
                        top: 50%;
                        transform: translateY(-50%);
                    } /*JS*/ .line2Toggle{opacity: 0;}
                    .line-3{
                        bottom: 0;
                    } /*JS*/ .line3Toggle{bottom: 50%; transform: translateY(50%) rotate(-45deg);}
                }
            } /*JS*/ .menuToggle{z-index: 2;}
            #title{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                a{
                    h1{
                        text-transform: uppercase;
                        font-size: 2.25rem;
                        letter-spacing: 4px;
                    }
                }
            }
        }
        #intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 81%;
            p{
                color: white;
                font-size: 2.25rem;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 4px;
            }
        }
}

#founders{
    img{
        filter: grayscale(1);
    }
}

#projects{
    .individual-projects{
        .container{
            .title{
                text-align: left;
            }
        }
    }
}

footer{
    color: $maincolor;
    height: 10vh;
    .container{
        text-align: left;
        padding: 0 2rem;
        gap: 1rem;
        justify-content: center;
        #socials{
            a{
                i{
                    color: $maincolor;
                }
            }
            a + a{
                margin-left: 1rem;
            }
        }
        #legals{
            display: flex;
            align-items: center;
            gap: 1rem;
            a{
                color: $maincolor;
                &:first-child{
                    border: 0 1px 0 1px solid $maincolor;
                }
            }
        }
    }
}