@media (max-width: 320px) {
  .container {
    padding: 4rem 1.5rem;
  }
  .info p, .more {
    font-size: 1rem;
  }
  .title h1 {
    font-size: 1.2rem;
  }
  #hero header #menu {
    margin-left: 1rem;
  }
  #hero header #menu button {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  #hero header #title a h1 {
    font-size: 1.5rem;
  }
  #hero header nav a h1 {
    font-size: 1.5rem;
  }
  #hero header nav ul li a {
    font-size: 1rem;
  }
  #hero #intro p {
    font-size: 1.5rem;
  }
  #legals {
    font-size: .8rem;
  }
}

@media (min-width: 768px) {
  #hero header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    background: none;
    position: initial;
    padding: 0;
    z-index: 0;
  }
  #hero header nav #nav-title {
    display: none;
  }
  #hero header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 7rem;
  }
  #hero header nav ul .section-1 {
    margin: 0;
  }
  #hero header nav ul .section-1, #hero header nav ul .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
  }
  #hero header nav ul li + li {
    margin: 0;
  }
  #hero header nav ul li a {
    font-size: .8rem;
  }
  #hero header #menu {
    display: none;
  }
  .img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .info p {
    text-align: center;
  }
  .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .individual-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects .individual-projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 4rem 6rem;
  }
  #projects .individual-projects .container .info {
    margin: 0;
    width: initial;
  }
  #projects .individual-projects .container .info p {
    text-align: left;
    margin: 0;
  }
  #projects .individual-projects .container .more {
    display: initial;
  }
  #projects .individual-projects:nth-child(3) .project-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  #projects .individual-projects:nth-child(3) .container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  footer .container {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .title h1 {
    font-size: 1rem;
  }
  .info p, .more a {
    font-size: .8rem;
  }
  #projects .individual-projects .container {
    padding: 1rem 3rem;
  }
  .img {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) and (min-width: 1024px) {
  #hero header nav ul {
    padding: 0 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #hero header nav ul {
    padding: 0 2rem;
  }
  #hero header nav ul .section-1, #hero header nav ul .section-2 {
    gap: 3rem;
  }
}

@media (max-width: 812px) and (max-height: 414px) {
  .container .title h1 {
    font-size: 1.5rem;
  }
  .container .info p {
    font-size: 1rem;
  }
  .container .more a {
    font-size: 1rem;
  }
  #hero header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
    background: none;
    position: initial;
    padding: 0;
    z-index: 0;
  }
  #hero header nav #nav-title {
    display: none;
  }
  #hero header nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0 2rem;
  }
  #hero header nav ul .section-1 {
    margin: 0;
  }
  #hero header nav ul .section-1, #hero header nav ul .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
  }
  #hero header nav ul li + li {
    margin: 0;
  }
  #hero header nav ul li a {
    font-size: .8rem;
  }
  #hero header #menu {
    display: none;
  }
  #hero #intro p {
    font-size: 1.7rem;
  }
  .img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .info p {
    text-align: center;
  }
  .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .individual-projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects .individual-projects .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0rem 2rem;
    gap: 1rem;
  }
  #projects .individual-projects .container .title h1 {
    font-size: 1.2rem;
  }
  #projects .individual-projects .container .info {
    margin: 0;
    width: initial;
  }
  #projects .individual-projects .container .info p {
    text-align: left;
    margin: 0;
    font-size: .9rem;
  }
  #projects .individual-projects .container .more {
    display: initial;
  }
  #projects .individual-projects .container .more a {
    font-size: .9rem;
  }
  #projects .individual-projects:nth-child(3) .project-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  #projects .individual-projects:nth-child(3) .container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  footer .container {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container #socials a {
    font-size: .8rem;
  }
  footer .container #legals span, footer .container #legals a {
    font-size: .8rem;
  }
}

@media (max-width: 667px) and (max-height: 375px) {
  .container .title h1 {
    font-size: 1.5rem;
  }
  .container .info p {
    font-size: 1rem;
  }
  .container .more a {
    font-size: 1rem;
  }
  #hero {
    height: 100vh;
    position: relative;
  }
  #hero header {
    height: 15vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*JS*/
    /*JS*/
  }
  #hero header a {
    color: white;
  }
  #hero header nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 3rem;
    display: initial;
  }
  #hero header nav #nav-title {
    display: initial;
  }
  #hero header nav #nav-title h1 {
    font-size: 2.25rem;
  }
  #hero header nav ul {
    margin-top: 2rem;
    display: initial;
  }
  #hero header nav ul .section-1 {
    margin-bottom: 1rem;
  }
  #hero header nav ul .section-1, #hero header nav ul .section-2 {
    display: initial;
  }
  #hero header nav ul li + li {
    margin-top: 1rem;
  }
  #hero header nav ul li a {
    font-size: 1.3rem;
  }
  #hero header .navToggle {
    left: 0;
  }
  #hero header #menu {
    margin-left: 2rem;
    display: initial;
  }
  #hero header #menu button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*JS*/
    /*JS*/
    /*JS*/
  }
  #hero header #menu button .line {
    height: 4px;
    width: 100%;
    background-color: white;
    position: absolute;
  }
  #hero header #menu button .line-1 {
    top: 0;
  }
  #hero header #menu button .line1Toggle {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  #hero header #menu button .line-2 {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #hero header #menu button .line2Toggle {
    opacity: 0;
  }
  #hero header #menu button .line-3 {
    bottom: 0;
  }
  #hero header #menu button .line3Toggle {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
            transform: translateY(50%) rotate(-45deg);
  }
  #hero header .menuToggle {
    z-index: 2;
  }
  #hero header #title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #hero header #title a h1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 4px;
  }
  #projects .individual-projects .container .title h1 {
    font-size: 1rem;
  }
  #projects .individual-projects .container .info {
    margin: 0;
    width: initial;
  }
  #projects .individual-projects .container .info p {
    text-align: left;
    margin: 0;
    font-size: .7rem;
  }
  #projects .individual-projects .container .more {
    display: initial;
  }
  #projects .individual-projects .container .more a {
    font-size: .7rem;
  }
}
/*# sourceMappingURL=styles-media.css.map */